
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>
            <span *ngIf="isEdit">
                {{role.Name}}
            </span>
            <span *ngIf="!isEdit">
                {{loc('CreateRole')}}
            </span>
        </div>
    </div>
<div class="portlet-body">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_1_1" data-toggle="tab">
                {{loc('Fields')}}
            </a>
        </li>
        <li>
            <a href="#tab_1_2" data-toggle="tab">
                {{loc('Permissions')}}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab_1_1">
            <div class="portlet box blue-hoki">
                <div class="portlet-body form">
                    <form action="#" id="form-role" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">{{loc('RoleName')}}</label>
                                <div class="col-md-5">
                                    <div class="input-icon right">
                                        <input type="text" name="rolename" [(ngModel)]="role.Name" id="rolename" required maxlength="32" minlength="3" class="validate form-control input-circle"
                                               placeholder="user">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_1_2">
            <div class="portlet box blue-hoki">
                <div class="portlet-body">
                    <div id="roleTree">
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <button type="submit" class="btn purple" (click)="save()"><i class="fa fa-check"></i>Save Changes</button>
            </div>
        </div>
    </div>
    </div>
</div>
